<div>
    <style>
        .countries-head{
            display:flex;
            justify-content:space-between;
            flex-wrap: wrap;
         }
        .countries{
            display:flex;
            flex-wrap: wrap;
        }
        .country-flex-rules{
                flex-basis: 15rem;
                font-size: 1.25rem;
        }
    </style>
    <div class="countries-head">
        <p class="h1">Countries with Uber Eats</p>
        <a class="url_link" href="">View all countries</a>
    </div>
    <div class="countries">
        <ul class="country-flex-rules">Australia</ul>
        <ul class="country-flex-rules">Belgium</ul>
        <ul class="country-flex-rules">Canada</ul>
        <ul class="country-flex-rules">Chile</ul>
        <ul class="country-flex-rules">Costa Rica</ul>
        <ul class="country-flex-rules">Dominican Republic</ul>
        <ul class="country-flex-rules">Ecuador</ul>
        <ul class="country-flex-rules">El Salvador</ul>
        <ul class="country-flex-rules">France</ul>
        <ul class="country-flex-rules">Germany</ul>
        <ul class="country-flex-rules">Guatemala</ul>
        <ul class="country-flex-rules">Ireland</ul>
        <ul class="country-flex-rules">Italy</ul>
        <ul class="country-flex-rules">Japan</ul>
        <ul class="country-flex-rules">Kenya</ul>
        <ul class="country-flex-rules">Mexico</ul>
        <ul class="country-flex-rules">Netherlands</ul>
        <ul class="country-flex-rules">New Zealand</ul>
        <ul class="country-flex-rules">Panama</ul>
        <ul class="country-flex-rules">Poland</ul>
        <ul class="country-flex-rules">Portugal</ul>
        <ul class="country-flex-rules">South Africa</ul>
        <ul class="country-flex-rules">Spain</ul>
        <ul class="country-flex-rules">Sri Lanka</ul>
        <ul class="country-flex-rules">Sweden</ul>
        <ul class="country-flex-rules">Switzerland</ul>
        <ul class="country-flex-rules">Taiwan (ROC)</ul>
        <ul class="country-flex-rules">United Kingdom</ul>
        <ul class="country-flex-rules">United States</ul>
    </div>
</div>