<style>
    a {
        color: inherit;
        text-decoration:none;
        align-self: flex-end;
    }

    .image{
        width:100%;
        max-width:100%;
        max-height:100%;
    }
    .mar.r1{
        display:flex;
        flex-wrap:wrap;
        justify-content:space-around;
    }
    .mar-r1{
        flex-basis:30%;
        min-width: 350px;
    }
</style>

<div class="mar r1">
    <div class="mar-r1 p1">
        <div class="">
            <a href="//www.uber.com/business/eats" class="">
                <div class="">
                    <div class="image"><img alt="Feed your employees"
                                            src="https://d3i4yxtzktqr9n.cloudfront.net/web-eats-v2/dd109bb1f7572eed.png"
                                            class="image mx-auto" loading="lazy" style=""></div>
                </div>
                <div class="p-3">
                    <p class="h4 text-dark">Feed your employees</p>
                    <p class="url_link">Create a business account</p>
                </div>
            </a>

        </div>
    </div>
    <div class="mar-r1 p2">
        <div class="">
            <a href="" class="">
                <div class="">
                    <div class="image">
                        <img alt="Your restaurant, delivered"
                                            src="https://d3i4yxtzktqr9n.cloudfront.net/web-eats-v2/8148ef38ec4096b7.png"
                                            class="image mx-auto" loading="lazy" style=""></div>
                </div>
                <div class="p-3">
                    <p class="h4 text-dark">Your restaurant, delivered</p>
                    <p class="url_link">Add your restaurant</p>
                </div>
            </a>

        </div>
    </div>
    <div class="mar-r1 p3">
        <div class="">
            <a href="//www.uber.com/business/eats" class="">
                <div class="">
                    <div class="image"><img alt="Deliver with Uber Eats"
                                            src="https://d3i4yxtzktqr9n.cloudfront.net/web-eats-v2/7a9d4feba62d2c0b.png"
                                            class="image mx-auto" loading="lazy" style=""></div>
                </div>
                <div class="p-3">
                    <p class="h4 text-dark">Deliver with Uber Eats</p>
                    <p class="url_link">Sign up to deliver</p>
                </div>
            </a>

        </div>
    </div>

</div>