<div>
    <div class="d-flex justify-content-between">
        <p class="h1">Cities near me</p>
        <a class="url_link" href="">View all 500+ cities</a>
    </div>
    <div class="row">
        <ul class="col-xl-3 col-md-4 col-sm-6">Akron</ul>
        <ul class="col-xl-3 col-md-4 col-sm-6">Albuquerque</ul>
        <ul class="col-xl-3 col-md-4 col-sm-6">Bridgeport</ul>
        <ul class="col-xl-3 col-md-4 col-sm-6">Concord</ul>
        <ul class="col-xl-3 col-md-4 col-sm-6">Dayton</ul>
        <ul class="col-xl-3 col-md-4 col-sm-6">El Paso</ul>
        <ul class="col-xl-3 col-md-4 col-sm-6">Hartford</ul>
        <ul class="col-xl-3 col-md-4 col-sm-6">Houston</ul>
        <ul class="col-xl-3 col-md-4 col-sm-6">Indianapolis</ul>
        <ul class="col-xl-3 col-md-4 col-sm-6">McAllen</ul>
        <ul class="col-xl-3 col-md-4 col-sm-6">Mesa</ul>
        <ul class="col-xl-3 col-md-4 col-sm-6">Milwaukee</ul>
        <ul class="col-xl-3 col-md-4 col-sm-6">Nashville</ul>
        <ul class="col-xl-3 col-md-4 col-sm-6">New Orleans</ul>
        <ul class="col-xl-3 col-md-4 col-sm-6">Oklahoma City</ul>
        <ul class="col-xl-3 col-md-4 col-sm-6">Omaha</ul>
        <ul class="col-xl-3 col-md-4 col-sm-6">Orlando</ul>
        <ul class="col-xl-3 col-md-4 col-sm-6">Palm Bay</ul>
        <ul class="col-xl-3 col-md-4 col-sm-6">Providence</ul>
        <ul class="col-xl-3 col-md-4 col-sm-6">Queens</ul>
        <ul class="col-xl-3 col-md-4 col-sm-6">San Antonio</ul>
        <ul class="col-xl-3 col-md-4 col-sm-6">Stony Brook</ul>
        <ul class="col-xl-3 col-md-4 col-sm-6">Tucson</ul>
        <ul class="col-xl-3 col-md-4 col-sm-6">West Hollywood</ul>
    </div>
</div>