<div>
    <div class="d-flex justify-content-between">
        <p class="h1">Countries with Uber Eats</p>
        <a class="url_link" href="">View all countries</a>
    </div>
    <div class="row">
        <ul class="col-xl-3 col-md-4 col-sm-6">Australia</ul>
        <ul class="col-xl-3 col-md-4 col-sm-6">Belgium</ul>
        <ul class="col-xl-3 col-md-4 col-sm-6">Canada</ul>
        <ul class="col-xl-3 col-md-4 col-sm-6">Chile</ul>
        <ul class="col-xl-3 col-md-4 col-sm-6">Costa Rica</ul>
        <ul class="col-xl-3 col-md-4 col-sm-6">Dominican Republic</ul>
        <ul class="col-xl-3 col-md-4 col-sm-6">Ecuador</ul>
        <ul class="col-xl-3 col-md-4 col-sm-6">El Salvador</ul>
        <ul class="col-xl-3 col-md-4 col-sm-6">France</ul>
        <ul class="col-xl-3 col-md-4 col-sm-6">Germany</ul>
        <ul class="col-xl-3 col-md-4 col-sm-6">Guatemala</ul>
        <ul class="col-xl-3 col-md-4 col-sm-6">Ireland</ul>
        <ul class="col-xl-3 col-md-4 col-sm-6">Italy</ul>
        <ul class="col-xl-3 col-md-4 col-sm-6">Japan</ul>
        <ul class="col-xl-3 col-md-4 col-sm-6">Kenya</ul>
        <ul class="col-xl-3 col-md-4 col-sm-6">Mexico</ul>
        <ul class="col-xl-3 col-md-4 col-sm-6">Netherlands</ul>
        <ul class="col-xl-3 col-md-4 col-sm-6">New Zealand</ul>
        <ul class="col-xl-3 col-md-4 col-sm-6">Panama</ul>
        <ul class="col-xl-3 col-md-4 col-sm-6">Poland</ul>
        <ul class="col-xl-3 col-md-4 col-sm-6">Portugal</ul>
        <ul class="col-xl-3 col-md-4 col-sm-6">South Africa</ul>
        <ul class="col-xl-3 col-md-4 col-sm-6">Spain</ul>
        <ul class="col-xl-3 col-md-4 col-sm-6">Sri Lanka</ul>
        <ul class="col-xl-3 col-md-4 col-sm-6">Sweden</ul>
        <ul class="col-xl-3 col-md-4 col-sm-6">Switzerland</ul>
        <ul class="col-xl-3 col-md-4 col-sm-6">Taiwan (ROC)</ul>
        <ul class="col-xl-3 col-md-4 col-sm-6">United Kingdom</ul>
        <ul class="col-xl-3 col-md-4 col-sm-6">United States</ul>
    </div>
</div>